<% provide(:page_title, @post.restaurant) %>
<% provide(:blog_active, "active") %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant:</strong>
  <%= @post.restaurant %>
</p>

<p>
  <strong>Review:</strong>
  <%= @post.review %>
</p>

<p>
  <strong>NEXTIME:</strong>
  <%= @post.nextime %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> 